@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

body{
       background-image: url('/Group 1878.png');
       background-size: cover;
}

body>*:nth-child(n + 3){
       margin-top: 75px;
}

.top{
       background: #eff8fa;
       margin-top: 0;
}

header{
    width: 1169px;
    display: flex;
    margin-left: 135px;
    margin-top: 15px;
}

a{
    text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #6E5F5F;

opacity: 0.3;
margin-right: 51px;
}

span{
       color: #40a3f8;
}

.home{
    color: #40A3F8;
    opacity: 1;
}

.find{
       background-image: url('/Group 1877.png');
       background-size: cover;
       padding-left: 135px;
       display: flex;
}

.find-left{
       margin-top: 254px;
}

.find h1, .best h1{
       width: 482px;
}

h1{
       font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 70px;
/* or 146% */


color: #3E3E3E;
}

p{
       font-family: 'Roboto';
font-style: normal;
font-weight: 400;
line-height: 30px;
/* or 167% */

letter-spacing: 0.02em;
}

li{
       font-size: 16px;
color: #3D3D3F;
}

.find p{
       margin-top: 31px;
       margin-bottom: 50px;
       width: 480px;
font-size: 14px;
color: rgba(117, 117, 117, 0.46);
}

.find form{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background-color: #fff;
       width: 566px;
height: 86px;
background: #FFFFFF;
box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
border-radius: 8px;
}

.find input, .find select{
       width: 216px;
height: 59px;
       margin-right: 19px;
       background: rgba(245, 246, 250, 0.52);
border-radius: 8px;
border: 0;
padding-left: 27px;
}

.find button{
       width: 70px;
       height: 59px;
}

.find img{
       margin-top: 129px;
       height: 700px;
}

.steps{
       display: flex;
       flex-direction: column;
       text-align: center;
       padding-top: 75px;
       margin: 0 135px;
}

.steps__frame{
       margin-top: 50px;
       display: flex;
       align-items: center;
       justify-content: space-between;
}

.steps__frame div{
       width: 319px;
}

.steps__frame h1{
      

font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */


color: #3D3D3F;

}

.steps__frame p{
       margin-top: 21px;
}

.best{
       display: flex;
       width: 506px;
       margin-left: 103px;
}

.best-right{
       margin-left: 103px;
}

.best p{
       margin-top: 24px;
       margin-bottom: 3px;
       font-size: 18px;
color: rgba(61, 61, 63, 0.7);

}

.service{
       display: flex;
       flex-direction: column;
       align-items: center;
       text-align: center;
}

.service_card{
       display: flex;
       justify-content: space-between;
       width: 82%;
       margin-top: 75px;
}

.service_card div{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 349px;
       background-color: #fff;
       border-radius: 10px;
       padding: 61px 62px 31px;
}

.service_card h1{
margin-top: 16px;
font-size: 18px;
line-height: 30px;
}

.service_card p{
       font-weight: 400;
font-size: 14px;
line-height: 22px;
margin-top: 23px;
color: #999999;
}

.service>p{
       width: 480px;
}

button{
    background: #40a3f8;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14.997px;
line-height: 22px;
/* identical to box height, or 147% */


color: #FFFFFF;
}

.doctors{
       display: flex;
       align-items: center;
       flex-direction: column;
}

.row{
       justify-content: center;
       margin-top: 63px;
}

.card{
       margin-right: 36px;
       margin-bottom: 58px;
       padding-bottom: 20px;
       padding-top: 10px;
       align-items: center;
       width: 267px;
background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
/* Stock */

border: 1px solid #EEEFF1;
filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
border-radius: 10px;
}

.apps{
       display: flex;
       margin-top: 120px;
}

.apps-right{
       margin-left: -66px;
       margin-top: 192px;
}

.apps p{
       width: 461px;
}

.apps button{
       padding: 0;
       margin-right: 13px;
}

.clients{
       display: flex;
       flex-direction: column;
       align-items: center;
}

.clients__card{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 82%;
       margin-top: 93px;
}

.clients__card>div{
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 370px;
       background: linear-gradient(132.1deg, rgba(255, 255, 255, 0.88) 0.65%, #FAFAFA 103.13%);
/* Shadow */

box-shadow: 0px 4px 22px;
padding: 21px 17px 32px 48px;
       border-radius: 10px;
}

.clients__card>div div{
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       width: 280px;
       margin-bottom: 28px;
}

.clients__card h1{
       font-weight: 700;
font-size: 20px;
line-height: 55px;
/* identical to box height, or 275% */


/* textv 2 */

color: #3D3D3F;
}

.clients__card p{
       font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 156% */


color: #454D5D;
}

body>div.time{
       display: flex;
       justify-content: center;
       width: 100%;
       margin-top: 170px;
}

.time h1{
       font-weight: 700;
font-size: 40px;
line-height: 47px;
text-transform: capitalize;
       color: #fff;
       width: 402px;
}

.time button{
       background-color: #fff;
       color: #40a3f8;
       margin-top: 21px;
}

.time img{
       height: 452px;
       margin-top: -193px;
       margin-left: 140px;
}

.time__block{
       background-color: #40a3f8;
       border-radius: 12px;
       padding: 82px 118px;
       width: 82%;
       height: 341px;
       display: flex;
}

footer{
       margin-top: 34px;
       padding-top: 45px;
}

footer input{
       margin-bottom: 12px;
}
